#clock {
    font-size: 60px;
    margin-top: 40px;
    text-align: center;
    color: #ffff66;
    font-family: 'Agency FB';
    transition: all 0.1s ease-in-out;
    animation: fadein 0.5s ease-in-out;
}

@keyframes fadein {
    from {
        color: transparent;
    } to {
        color: #ffff66;
    }
}
